/* ========== HERO ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #ffffff;
}

.header-sito {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nome-sito {
    font-family: "Yeseva One", serif;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
}

.main-nav {
    display: flex;
    gap: 45px;
}

.main-nav a {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
}

.main-nav a:hover {
    opacity: 0.7;
}

.hero { 
    width: 100%;
    height: 900px;
    background-image: url("immagini/Hero_home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.hero-testo {
    color: #ffffff;
    width: 100%;
}

.hero-testo h1 {
    font-family: "Yeseva One", serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.1;
}

.sottotitolo {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    font-weight: 500;
    white-space: nowrap;
}

/* ========== DESCRIZIONE SITO ========== */

.descrizione {
    width: 100%;
    background-color: #ffffff;
    padding: 130px 0 190px;
}

.contenitore {
    width: 750px;
    margin-left: 320px;
}

.testo-descrizione {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.citazione {
    width: 980px;
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    line-height: 1.25;
    color: #000000;
    margin-top: 50px;
}

.autore {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    color: #000000;
}

/* ========== CARD IN EVIDENZA ========== */

.contenuti {
    width: 100%;
    padding: 120px 0 180px;
}

.contenitore-card {
    width: 980px;
    margin: 0 auto;
}

.contenitore-card h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 60px;
}

.griglia-card {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card-principale {
    position: relative;
    display: block;
    width: 980px;
    height: 350px;
    overflow: hidden;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.card-principale .immagine-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 30px;
}

.card-secondarie {
    display: flex;
    gap: 50px;
}

.card-piccola {
    position: relative;
    display: block;
    flex: 1;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.card-piccola .immagine-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* TESTI CARD */
.card-principale h3 {
    position: absolute;
    top: 14px;
    left: 28px;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
    z-index: 3;
}

.card-piccola h4 {
    position: absolute;
    top: 14px;
    left: 22px;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    z-index: 3;
}

/* OVERLAY */
.card-principale::after,
.card-piccola::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease;
    z-index: 2;
}

.card-principale:hover::after,
.card-piccola:hover::after {
    background: rgba(0, 0, 0, 0.25);
}

/* HOVER */
.card-principale:hover,
.card-piccola:hover {
    transform: translateY(-5px);
}

/* ========== FOOTER HOME ========== */
.footer-sito {
    width: 100%;
    background-color: #272626;
    padding: 55px 0 45px;
}

.footer-contenitore {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.footer-marchio-sito {
    font-family: "Yeseva One", serif;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 65px;
}

.footer-link {
    display: flex;
    justify-content: center;
    gap: 145px;
    margin-bottom: 32px;
}

.footer-link ul {
    list-style-position: inside;
    text-align: left;
}

.footer-link li {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5;
}

.footer-link a {
    color: #ffffff;
    text-decoration: none;
}

.footer-link a:hover {
    opacity: 0.7;
}

.copyright {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

/* ========== SEZIONE IL COLORE COME LINGUAGGIO VISIVO ========== */
/* ========== HEADER PAGINA LINGUAGGIO ========== */

.main-nav-linguaggio {
    display: flex;
    gap: 45px;
}

.main-nav-linguaggio a {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
}

.main-nav-linguaggio a:hover {
    opacity: 0.7;
}

.hero-linguaggio {
    width: 100%;
    height: 900px;
    background-image: url("immagini/hero_sezione_linguaggio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.linguaggio-titolo h1 {
    font-family: "Yeseva One", serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.1;
    color: #ffffff;
}

.linguaggio-sottotitolo {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    font-weight: 500;
    white-space: nowrap;
    color: #ffffff;
}

/* ========== DESCRIZIONE PAGINA LINGUAGGIO ========== */

.linguaggio-descrizione {
    width: 100%;
    padding: 190px 0 190px;
    display: flex;
    justify-content: center;
}

.linguaggio-contenitore {
    width: 975px;
}

.linguaggio-testo-descrizione {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    margin: 0;
} 

/* ========== AREA INFO LINGUAGGIO ========== */

.linguaggio-info {
    width: 100%;
    height: 452px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linguaggio-info-contenitore {
    width: 1240px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 84px;
}

.linguaggio-info-blocco {
    width: 400px;
}

.linguaggio-info-blocco h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1;
    color: #000000;
    margin: 0 0 32px 0;
    white-space: nowrap;
}

.linguaggio-info-blocco p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    color: #000000;
    margin: 0;
}

/* ========== SEZIONE COLORI ========== */
.sezione-colori {
    width: 100%;
    padding: 140px 0 220px;
    background-color: #ffffff;
}

.titolo-colori {
    text-align: center;
    margin-bottom: 90px;
}

.titolo-colori h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 10px;
}

.titolo-colori p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin: 0;
}

/* ========== GRIGLIA CARD ========== */
.griglia-colori {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 223.84px);
    gap: 50px;
}

/* ========== CARD ========== */
.card-colore {
    position: relative;
    overflow: hidden;
    width: 223px;
    height: 219px;
    background-color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

/* ========== OVERLAY CARD COLORI ========== */
.card-colore::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
    z-index: 2;
    pointer-events: none;
}

.card-colore:hover::after {
    background: rgba(0, 0, 0, 0.25);
}

/* ========== HOVER CARD COLORI ========== */
.card-colore:hover {
    transform: translateY(-5px);
}

.area-colore {
    position: relative;
    z-index: 1;
    width: 192px;
    height: 151px;
}

.colore-scuro {
    position: absolute;
    top: 0;
    left: 7px;
    width: 185px;
    height: 151px;
    border-radius: 15px;
}

.colore-chiaro {
    position: absolute;
    top: 0;
    left: 0;
    width: 181px;
    height: 151px;
    border-radius: 15px;
}

.card-colore p {
    position: relative;
    z-index: 1;
    width: 192px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin: 12px 0 0;
    text-align: left;
}

/* ========== COLORI SINGOLI DELLE CARD ========== */
.card-rosso .colore-chiaro {
    background-color: #FF0000;
}

.card-rosso .colore-scuro {
    background-color: #BF0000;
}


.card-giallo .colore-chiaro {
    background-color: #FFFF00;
}

.card-giallo .colore-scuro {
    background-color: #ECEC04; 
}


.card-blu .colore-chiaro {
    background-color: #0000FF;
}

.card-blu .colore-scuro {
    background-color: #0202B5;
}


.card-verde .colore-chiaro {
    background-color: #00FF00;
}

.card-verde .colore-scuro {
    background-color: #00CB00;
}


.card-viola .colore-chiaro {
    background-color: #8000FF;
}

.card-viola .colore-scuro {
    background-color: #6700CE;
}


.card-arancione .colore-chiaro {
    background-color: #FFA500;
}

.card-arancione .colore-scuro {
    background-color: #D28800;
}


.card-nero .colore-chiaro {
    background-color: #000000;
}

.card-nero .colore-scuro {
    background-color: #464646;
}


.card-bianco .colore-chiaro {
    background-color: #FFFFFF;
}

.card-bianco .colore-scuro {
    background-color: #EDEDED;
}


.card-grigio .colore-chiaro {
    background-color: #BFBFBF;
}

.card-grigio .colore-scuro {
    background-color: #989797;
}

/* ========== FOOTER SEZIONE LINGUAGGIO ========== */
.footer-sito {
    width: 100%;
    background-color: #272626;
    padding: 55px 0 45px;
}

.footer-contenitore {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.footer-marchio-sito {
    font-family: "Yeseva One", serif;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 65px;
}

.footer-link {
    display: flex;
    justify-content: center;
    gap: 145px;
    margin-bottom: 32px;
}

.footer-link ul {
    list-style-position: inside;
    text-align: left;
}

.footer-link li {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5;
}

.footer-link a {
    color: #ffffff;
    text-decoration: none;
}

.footer-link a:hover {
    opacity: 0.7;
}

.copyright {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

/* ========== HERO INFO SUL PROGETTO ========== */

.hero-info {
    width: 100%;
    height: 710px;
    background-image: url("img/hero_info_sul_progetto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.hero-info h1 {
    font-family: Georgia, serif;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #ffffff;
    margin: 0;
    padding-left: 38px;
}

/* ========== PAGINA INFO SUL PROGETTO ========== */

.hero-info-progetto {
    width: 100%;
    height: 800px;
    background-image: url("immagini/hero_info_sul_progetto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding: 0 50px;
}

.hero-info-testo {
    width: 100%;
    color: #ffffff;
}

.hero-info-testo h1 {
    font-family: "Yeseva One", serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #ffffff;
}


/* ========== CONTENUTO INFO SUL PROGETTO ========== */
.pagina-info-progetto {
    width: 100%;
    background-color: #ffffff;
    padding: 160px 0 170px;
}

.contenitore-info-progetto {
    width: 780px;
    margin-left: 100px;
}

.blocco-info-progetto {
    margin-bottom: 38px;
}

.blocco-info-progetto h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.15;
    color: #000000;
    margin-bottom: 14px;
}

.blocco-info-progetto p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;
    color: #000000;
    margin-bottom: 32px;
}

/* ========== PAGINA BIBLIOGRAFIA ========== */

/* HERO BIBLIOGRAFIA */

.hero-bibliografia {
    width: 100%;
    height: 800px;
    background-image: url("immagini/hero_bibliografia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding: 0 50px;
}

.hero-bibliografia-testo {
    width: 100%;
    color: #ffffff;
}

.hero-bibliografia-testo h1 {
    font-family: "Yeseva One", serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #ffffff;
}


/* CONTENUTO BIBLIOGRAFIA */

.pagina-bibliografia {
    width: 100%;
    background-color: #ffffff;
    padding: 160px 0 260px;
}

.contenitore-bibliografia {
    width: 900px;
    margin-left: 100px;
}

.introduzione-bibliografia {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;
    color: #000000;
    margin-bottom: 90px;
}

.blocco-bibliografia {
    margin-bottom: 38px;
}

.blocco-bibliografia h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.15;
    color: #000000;
    margin-bottom: 20px;
}

.blocco-bibliografia ul {
    padding-left: 26px;
    margin: 0;
}

.blocco-bibliografia li {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
}

.blocco-bibliografia a {
    color: #000000;
    text-decoration: underline;
}